
body{
font-family:Arial;
background:#0c0c0c;
color:white;
margin:0;
}

header{
background:#111;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.card{
background:#1c1c1c;
margin:20px;
padding:20px;
border-radius:10px;
}

.lock{
color:#aaa;
}

input,select{
width:100%;
padding:8px;
margin-top:5px;
margin-bottom:10px;
}

button{
background:#e10600;
border:none;
padding:12px;
width:100%;
color:white;
font-weight:bold;
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
}

td,th{
border:1px solid #444;
padding:10px;
text-align:left;
}
